<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="client.android.paying.com.payingmobileclient" >

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Google Play filtering -->
    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/paying_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Payingtab" >
        <activity
            android:name=".TabActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TableDetailActivity"
            android:label="@string/title_activity_table_selection"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TableSelectionActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/title_activity_table_selection"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CreditCardSelectActivity"
            android:label="@string/title_activity_credit_card_select"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
